body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.o-anim-ty{
	/*
        * The will-change CSS property provides a way for authors to hint browsers about the kind of changes
        * to be expected on an element, so that the browser can setup appropriate optimizations ahead of time
        * before the element is actually changed.
    */
	will-change: transform;
	transition: transform 0.1s linear;
}
.o-apply-ty{
    transform: translateY( calc( ( var(--ty) * 1) ) );
}
.o-apply-ty--x1{
    transform: translateY( calc( ( var(--ty) * 1) ) );
}
.o-apply-ty--x2{
    transform: translateY( calc( ( var(--ty) * 2) ) );
}
.o-apply-ty--x3{
    transform: translateY( calc( ( var(--ty) * 3) ) );
}
.o-apply-ty--x-1{
    transform: translateY( calc( ( var(--ty) * -1) ) );
}
.o-apply-ty--x-2{
    transform: translateY( calc( ( var(--ty) * -2) ) );
}
.o-apply-ty--x-3{
    transform: translateY( calc( ( var(--ty) * -3) ) );
}
